// Colors

$color-bg-header: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$color-alice-blue: #f2f5f6;
$color-alice-blue2: #f8fdff;
$color-deep-sky-blue: #00b2ff;
$color-black-pearl: #041827;
$color-bg-black-perl: #132732;
$color-silver: #c4c4c4;
$color-whisper: #ebebeb;


// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$fz-default:                        16px;


// Fonts

$ff-pt-mono:                        "PT Mono", "Courier", monospace;
$ff-roboto-condensed:               "Roboto Condensed", "Tahoma", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-321:                            321px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-769:                            769px;
$vp-770:                            770px;
$vp-771:                            771px;
$vp-1023:                           1023px;
$vp-1024:                           1024px;
$vp-1222:                           1222px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
